@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', serif;
  font-weight: lighter;
  color: #000000;
}

h1 {
  font-weight: 300;
  font-size: 35px;
}

h2 {
  font-size: 22px;
  font-weight: 400;
}

h3 {
  font-size: 20px;
  font-weight: 850;
}

p {
  font-size: 18px
}

a {
    color: #a9a9a9;
    border-bottom: none;
    text-decoration: none;
}

a:hover {
    color: #a9a9a9;
    border-bottom: 1px dotted #a9a9a9;
    text-decoration: none;
}

.row {
  margin-top: 50px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.bio-container {
  width: 650px;
  margin-top: 25px;
  margin-left: 0px;
  margin-right: 50px;
  padding-left: 0px;
  font-size: 20px;
}

.col-2 {
      text-align: center;
      padding-top: 0px;
      padding-right: 0px;
      border-radius: 50px;
}

.col-9 {
      text-align: left;
      padding-left: 15px;
}

.content-container {
  padding-left: 75px;
}

.nav-tabs {
  font-size: 22px;
}

.tab-content {
  width: 850px;
  padding-left: 15px;
}

.profile-image {
  margin-left: auto;
  margin-right: auto;
    top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    /*border: 4px #a7a7a7 solid;*/
    overflow: hidden;
  }
  .preview-image {
    padding-left: 0px;
  }

.links-bar {
  padding-top: 25px;
  padding-left: 25px;
  text-align: left;
  font-size: 14px;
  list-style-type: none;
}
